body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .Biodata {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(173, 209, 223);
  }
  
  .row1 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .col-md-6 {
    flex: 0 0 50%;
    padding: 10px;
  }
  
  .card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .card-idbio {
    background-color: #f8f9fa;
    text-align: center;
  }
  
  .card-id img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .card-idbio h2,
  .card-idbio h3 {
    margin-bottom: 10px;
  }
  
  .id-info {
    margin-bottom: 20px;
  }
  
  .id-info p {
    margin-bottom: 5px;
  }
  
  .signature-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .signature-container p {
    font-style: italic;
  }
  
  .signature-container img {
    width: 50px;
    height: 50px;
  }
  
  .id-number {
    font-size: 18px;
    font-weight: bold;
  }
  